<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771159136654-o9qhdbkvitsff54k6v7mr4pvg4euf143.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771159136654-o9qhdbkvitsff54k6v7mr4pvg4euf143</string>
	<key>API_KEY</key>
	<string>AIzaSyBwYy1nlHrCiZ720qVTN0uVat2LCUerHzw</string>
	<key>GCM_SENDER_ID</key>
	<string>771159136654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutritionApp</string>
	<key>PROJECT_ID</key>
	<string>nutrition-app-b84cb</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrition-app-b84cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771159136654:ios:a72206259bb37226552cdf</string>
</dict>
</plist>